.reveal section img {
  margin: 15px 0px;
  border: none;
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.reveal table td {
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
}

.reveal table td.logo_text {
    padding: 0;
    vertical-align: middle;
}

.highlight {
    # color: #9AE951;
    color: #268BD2;
}

.reveal .big_pic {
    margin: 0;
}
