.reveal section img {
  margin: 15px 0px;
  border: none;
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.reveal td {
    vertical-align: top;
}

#spring_mvc {
    padding-left: 0;
    vertical-align: middle;
}
