.reveal section img {
  margin: 15px 0px;
  border: none;
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.reveal td {
    vertical-align: top;
}

.reveal td.logo_text {
    padding: 0;
    vertical-align: middle;
}

.highlight {
    # color: #9AE951;
    color: #268BD2;
}
